{% extends "base.html" %}

{% block content %}

    <h1>Welcome to Smile Portal!</h1>
    <h2>Number of smiles: {{likes}} </h2>
    <form action="" method="GET">
        <h3>{{ sortform.sort }}{{ sortform.checkbox }}Display my posts only{{ sortform.refresh(class="button") }}</h3>
    </form>
    <!--     TODO: (milestone1) Include the form for creating a new post here.. -->


    <!--     TODO: (milestone1) Format posts -->
    <div class="postlist">
        {% for post in posts %}
            <div class="post-box">
                {% include '_post.html' %}
            </div>
        {% endfor %}
    </div>


    
{% endblock %}